---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import imageProfil from "../img/1636586359212.jpg"
---

<html lang="en">
	<head>
		<MainHead title="A propos | Antoine Carrette" description="A propos de moi" />
		<style>

			@keyframes slideFromBottom {
				from {
					transform: translateY(+500px);
				}

				to {
					transform: translateY(0px);
				}
			}
			.heroImg {
				max-width:20%;
				max-height:20%;
				object-fit: cover;
				overflow: hidden;
				border-radius:50%;
				margin: auto;
				display: block;			
			}

			.aPropos {
				text-align: center
			}

			.heroImg img {
				width: 100%;
				height:100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
				
			}

			.quiSuisJeH3 {
				font-size: 120%;
				font-weight: bold;
				text-align: center;
			}

			.quiSuisJeStrongP {
				text-align: center;
			}

			.wrapperPage {
				background-image:url("../img/side-wave_background4.jpg") ;
				background-size: cover;
				animation-name: slideFromBottom;
				animation-duration: 1.5s;
			}	
			
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapperPage font-serif">
			<h1 class="aPropos">A propos de moi</h1>
			<div class="heroImg">
				<img
					src={imageProfil}
					alt="Profile image"
				/>
			</div>
			<div class="bio wrapper ">
				<article class='quiSuisJeArticle '>

					<h3 class='quiSuisJeH3'> <strong>Introduction</strong></h3>
					<p class='quiSuisJeP'>Antoine Carrette, 34 ans au moment où j'écris ces lignes, originaire du Nord et résidant à l'heure actuelle à Vergèze.
					</p>

				</article>

				<article class='quiSuisJeArticle'>
					<h3 class='quiSuisJeH3'><strong>Pourquoi le développement web ?</strong></h3>

					<br/>

					<p class='quiSuisJeP'>
						Décidant un jour de me réorienter, une réflexion simple m'est assez rapidement venue, littéralement " mais antoine, t'est un geek, t'as un corps de métier tout trouvé pour les geeks ".
						j'ai eu la chance d'être contacté par l'organisme Code4Marseille, une association qui est là pour parrainner des personnes au rsa résidant dans le département, dans le but de leur trouver une formation en dévellopement web.
					</p>

					<p class='quiSuisJeP'>
						J'ai donc entamé ma formation, et après un an à apprendre diverses technologies et langages web, je me suis constitué 
						ma propre boite à outils de développement web, globalement, je me suis axé sur un langage en particulier, Javascript,
						car il présente certains avantages qui se firent très convaincants pour moi, comme React et NodeJS, des technologies reliées
						permettant de combler tout les besoins d'un site. 
					</p>

					<br/>

        		</article>

        		<article class='quiSuisJeArticle'>

					<h3 class='quiSuisJeH3'><strong>En dehors de l'emploi</strong></h3>

					<p class='quiSuisJeP'>Concerning the foreign languages, I fluently speak english, I often read texts in Shakespeare language,
						or even talk it with some friends, just for pleasure (and some training).
						Also, it happens to me to spoke with native english speakers, well, some of my family come's from England and California after all !</p>

					<br/>

					<h3 class='quiSuisJeH3'><strong>En ce qui concerne mes passions :</strong></h3>

					<p class='quiSuisJeP'>Je l'ai dit précédemment, mais je baigne dans la culture geek depuis mon plus jeune âge,
						je touche régulièrement aux ordinateurs depuis l'age de deux ans, et j'ai connu internet à la fin des années 90.
						Je suis un grand amoureux du jeu vidéo et je caresse l'espoir d'en créer un, un jour.</p>

					<p class='quiSuisJeP'>En ce qui concerne la culture générale, je tiens fortement à toujours me cultiver, je suis toujours curieux à propos
						de philosophie, d'histoire et cinéma surtout.</p>

					<p class='quiSuisJeP'>Question musique, j'écoute majoritairement de la musique orchestrale (bo de films/jeux vidéos), classique, et du rock britannique.</p>

					<p class='quiSuisJeP'>Je pratique régulièrement la musculation, inspiré par le fameux dicton "mens sana in corpore sana"
						il s'agit selon moi du meilleur moyen de calmer un stress intense.</p>

            		<p class='quiSuisJeP'>Enfin, je pratique régulièrement le cosplay, celà me permet de combiner le sport, la culture geek,
            		tout en apprenant diverses compétences annexes.
            		</p>
        		</article>
			</div>
		</div>
		
	</body>
</html>
